extends layout

block bodyContent

    form(method='POST', action='/create')

        div
            label(for='firstName') First Name
            input(id='firstName', name='firstName', required)
        div
            label(for='lastName') Last Name
            input(id='lastName', name='lastName', required)
        div
            label(for='password') Password
            input(type='password', id='password', name='password' , required)
        div
            label(for='email') Email
            input(type='email', id='email', name='email', required)
        div
            label(for='age') Age
            input(type='number', id='age', name='age', required)
        div
            input(type='submit', value='Add User')