extends layout

block headContent
    title= title

block bodyContent
    a(href='auth/google') Sign in with Google

    ul
        each val in list
            li
                a(href='/users/'+val)= val