doctype html
html
    head
        block headContent
            title= title
            style="table{border:1px solid black;border-collapse: collapse;} td{border:1px solid black; padding:4px;} .td-link{margin: 0 5px} button,input{font-size:18px;margin:6px;} .needs-margin{margin-top:15px;font-size:18px;} th{padding:4px 9px;}"

    block bodyContent