doctype html
html
    head
        block headContent
            title= title
            style="table{border:1px solid black;border-collapse: collapse;} td{border:1px solid black; padding:4px;} .td-link{margin: 0 5px}"

        block bodyContent